body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}
.form-control {
  width: 350px !important;
  margin: 5px;
  display: inline-block;
}
.btn-primary {
  margin: 5px;
}

.single-comment {
  width: 400px;
  font-weight: 300;
  margin-bottom: 5px;
}

.comments {
  background: #eee;
  padding: 10px;
  list-style: none;
}

.search-bar {
  width: 500px;
  margin: 0 auto;
}
